---
  # Front matter comment to ensure Jekyll properly reads file.
---

//******* Variables

// Colors
$black-gold: #231F20;
$gold: #F8EC23;
$gold-hover: darken(#F8EC23,20);
$pure-white: #FFFFFF;
$text-black: #000000;
$text-muted: rgba(#000, 0.5);
$hover-bg: #f4f4f4;
$trailer-gold: #f2d048;
$trailer-bg: rgba($trailer-gold, 0.2);

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
$lato: 'Lato', sans-serif;
$regular: 400;
$bold: 700;
$black: 900;
//******* End of Variables

body {
  font-family: $lato;
  color: $text-black;
  font-weight: $regular;
  background: $pure-white;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: $lato;
}

h1{
  font-size: 2em;
  font-weight: $bold;
}

::selection {
  color: $pure-white;
  background: $gold;
}

/* Code for Firefox */
::-moz-selection {
  color: $pure-white;
  background: $gold;
}

a{
  color: $text-black;
  text-decoration: underline;
  &:hover{
    color: $text-black;
    opacity: 0.7;
  }
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

.content-container{
  margin-top: 2em;
  margin-bottom: 6em;
}

//******* Intro Styling
.intro{
  p{
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: $regular;
    color: $text-black;
    max-width: 600px;
  }
}

//******* Gold Brick Easter Egg
.gold-brick{
  color: $gold;
  font-weight: $black;
  text-shadow: 0 0 0 $gold;
}

//******* Hosted By Styling
.hosted-by{
  margin-top: 2em;
  p{
    font-size: 1.25em;
    font-weight: $regular;
    display: flex;
    align-items: center;
    gap: 0.4em;
    flex-wrap: wrap;
  }
  a{
    color: $text-black;
    text-decoration: underline;
    font-weight: $regular;
  }
  .host-photo{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    &.placeholder{
      display: inline-block;
      background: #d8d8d8;
    }
  }
}

//******* Listen Inline Styling
.listen-inline{
  margin-top: 1.5em;
  p{
    font-size: 1.25em;
    font-weight: $regular;
    line-height: 2;
  }
  a{
    color: $text-black;
    text-decoration: underline;
    white-space: nowrap;
  }
  .listen-icon{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 0.15em;
    border-radius: 4px;
  }
}

//******* Episode Styling

.episodes{
  margin-top: 3em;

  .early-days-header{
    font-size: 1.75em;
    font-weight: $black;
    color: $text-black;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
  }

  .episode-card{
    display: block;
    text-decoration: none;
    color: $text-black;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: background-color 0.2s ease;

    &:hover{
      text-decoration: none;
      background-color: $hover-bg;
      color: $text-black;
      opacity: 1;
    }

    &.trailer-card{
      background-color: $trailer-bg;
      &:hover{
        background-color: rgba($trailer-gold, 0.3);
      }
    }
  }

  .episode-card-inner{
    display: flex;
    align-items: flex-start;
  }

  .episode-artwork{
    margin-right: 1em;
    flex-shrink: 0;
    img{
      width: 60px;
      height: 60px;
      border-radius: 0.5em;
      object-fit: cover;
    }
  }

  .episode-meta{
    font-size: 0.875em;
    font-weight: $regular;
    color: $text-muted;
    margin-bottom: 0.15em;
  }

  .episode-title{
    font-size: 1.25em;
    font-weight: $regular;
    color: $text-black;
    margin-bottom: 0.2em;
    line-height: 1.3;
  }

  .episode-description{
    font-size: 0.875em;
    font-weight: $regular;
    color: $text-muted;
    line-height: 1.5;
    margin-bottom: 0;
  }
}

//******* End of Episode Styling


//******* Error Styling
.error-page{
  h1{
    font-size: 3em;
  }
}
//******* End of Error Styling



//******* Header Styling

header{
  // padding: 1.5em;
  padding-top: 3em;
  img{
    width: 150px;
  }
}
//******* End of Header Styling


//******* Footer Styling

.site-footer{
  margin-top: 4em;
  border-top: 1px solid rgba(#000, 0.1);
  padding-top: 2em;

  .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2em;
  }

  .footer-logo{
    img{
      width: 126px;
    }
  }

  .footer-links{
    display: flex;
    gap: 4em;
  }

  .footer-column{
    h4{
      font-size: 0.875em;
      font-weight: $black;
      margin-bottom: 0.5em;
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li{
      margin-bottom: 0.25em;
    }
    a{
      font-size: 0.875em;
      font-weight: $regular;
      color: $text-black;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  .footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    padding-top: 1em;
    flex-wrap: wrap;
    gap: 1em;
  }

  .copyright{
    font-size: 0.75em;
    color: $text-muted;
  }

  .rainbow-text{
    font-size: 0.75em;
    color: $text-black;
  }

  .rainbow-emoji{
    cursor: pointer;
    position: relative;
  }

  .party-parrot{
    position: absolute;
    bottom: 100%;
    right: -8px;
    font-size: 1.5em;
    display: none;
    &.visible{
      display: inline-block;
      animation: parrot-dance 0.3s ease-in-out infinite alternate;
    }
  }
}
//******* End of Footer Styling


//******* Mobile Styling

@media screen and (max-width: 40em) {
  .intro{
    p{
      font-size: 1.1em;
    }
  }
  .hosted-by{
    p{
      font-size: 1em;
    }
  }
  .listen-inline{
    p{
      font-size: 1em;
    }
  }
  .error-page{
    h1{
      font-size: 2.5em;
    }
    h2{
      font-size: 1.8em;
    }
  }
  .episodes{
    .episode-artwork{
      img{
        width: 48px;
        height: 48px;
      }
    }
    .episode-title{
      font-size: 1.1em;
    }
    .episode-description{
      font-size: 0.8em;
    }
    .early-days-header{
      font-size: 1.4em;
    }
  }
  .site-footer{
    .footer-content{
      flex-direction: column;
    }
    .footer-links{
      flex-wrap: wrap;
      gap: 2em;
    }
    .footer-bottom{
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

// Tablet Styling
@media screen and (max-width: 64em) {

}
//******* End of Mobile Styling


//******* Party Parrot Animation
@keyframes parrot-dance {
  0% { transform: rotate(-10deg) scale(1); }
  100% { transform: rotate(10deg) scale(1.1); }
}
//******* End of Animations
