---
  # Front matter comment to ensure Jekyll properly reads file.
---
@import 'app';
@import 'designsystem';
@import 'header';
@import 'footer';

body {
  font-family: $lato;
  color: $text-black;
  font-weight: $regular;
  background: $pure-white;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: $lato;
}

h1{
  font-size: 2em;
  font-weight: $bold;
}

::selection {
  color: $pure-white;
  background: $gold;
}

/* Code for Firefox */
::-moz-selection {
  color: $pure-white;
  background: $gold;
}

a{
  color: $text-black;
  text-decoration: underline;
  &:hover{
    color: $text-black;
    opacity: 0.7;
  }
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}

.content-container{
  margin-top: 2em;
  margin-bottom: 6em;
}

//******* Intro Styling
.intro{
  p{
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: $regular;
    color: $text-black;
    @include breakpoint(small only) {
      font-size: 1.1em;
    }
  }
}

//******* Gold Brick Easter Egg
.gold-brick{
  color: $gold;
  font-weight: $black;
  text-shadow: 0 0 0 $gold;
}

//******* Hosted By Styling
.hosted-by{
  margin-top: 2em;
  p{
    font-size: 1.25em;
    font-weight: $regular;
    display: flex;
    align-items: center;
    gap: 0.4em;
    flex-wrap: wrap;
    @include breakpoint(small only) {
      font-size: 1em;
    }
  }
  a{
    color: $text-black;
    text-decoration: underline;
    font-weight: $regular;
  }
  .host-photo{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    &.placeholder{
      display: inline-block;
      background: #d8d8d8;
    }
  }
}

//******* Listen Inline Styling
.listen-inline{
  margin-top: 1.5em;
  p{
    font-size: 1.25em;
    font-weight: $regular;
    line-height: 2;
    @include breakpoint(small only) {
      font-size: 1em;
    }
  }
  a{
    color: $text-black;
    text-decoration: underline;
    white-space: nowrap;
  }
  .listen-icon{
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 0.15em;
    border-radius: 4px;
  }
}

//******* Episode Styling
.episodes{
  margin-top: 3em;

  .early-days-header{
    font-size: 1.75em;
    font-weight: $black;
    color: $text-black;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    @include breakpoint(small only) {
      font-size: 1.4em;
    }
  }

  .episode-card{
    display: block;
    text-decoration: none;
    color: $text-black;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: background-color 0.2s ease;

    &:hover{
      text-decoration: none;
      background-color: $hover-bg;
      color: $text-black;
      opacity: 1;
    }

    &.trailer-card{
      background-color: $trailer-bg;
      &:hover{
        background-color: rgba($trailer-gold, 0.3);
      }
    }
  }

  .episode-card-inner{
    display: flex;
    align-items: flex-start;
  }

  .episode-artwork{
    margin-right: 1em;
    flex-shrink: 0;
    img{
      width: 60px;
      height: 60px;
      border-radius: 0.5em;
      object-fit: cover;
      @include breakpoint(small only) {
        width: 48px;
        height: 48px;
      }
    }
  }

  .episode-meta{
    font-size: 0.875em;
    font-weight: $regular;
    color: $text-muted;
    margin-bottom: 0.15em;
  }

  .episode-title{
    font-size: 1.25em;
    font-weight: $regular;
    color: $text-black;
    margin-bottom: 0.2em;
    line-height: 1.3;
    @include breakpoint(small only) {
      font-size: 1.1em;
    }
  }

  .episode-description{
    font-size: 0.875em;
    font-weight: $regular;
    color: $text-muted;
    line-height: 1.5;
    margin-bottom: 0;
    @include breakpoint(small only) {
      font-size: 0.8em;
    }
  }
}

//******* Error Styling
.error-page{
  h1{
    font-size: 3em;
    @include breakpoint(small only) {
      font-size: 2.5em;
    }
  }
  h2{
    @include breakpoint(small only) {
      font-size: 1.8em;
    }
  }
}
