--- 
  # Front matter comment to ensure Jekyll properly reads file. 
--- 

//******* Variables

// Numbers
$color-percentage: 5%;

// Colors
$black-gold: #231F20;
$gold: #F8EC23;
$dio-black: #313131;
$signature-teal-hover: #108da2;
$royal-raspberry-hover: #680032;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
$lato: 'Lato', sans-serif;
$regular: 400;
$bold: 700;
$black: 900;
//******* End of Variables

body {
  font-family: $lato;
  color: $dio-black;
  font-weight: $bold;
}

h1,
h2,
h3,
h4 {
  font-family: $lato;
  padding-left: 10px;
}

h4 {
  font-weight: $bold;
  margin-top: 50px;
}

article.post {
  width: 100%;
}

::selection {
  color: $dio-black;
  background: $gold;
}

/* Code for Firefox */
::-moz-selection {
  color: $dio-black;
  background: $gold;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.dateStamp {
  font-size: 22px;
  margin-top: -15px;
  font-weight: 400;
  margin-bottom: 20px;
}

iframe {
  height: 600px;
}

.home{
  padding: 40px;
}

.page-heading{
  font-size: 24px;
  font-weight: $black;
}

.page-subheading{
  font-size: 20px;
}

.post-list{
  margin-top: 40px;
  li{
    h2{
      padding-left: 0;
      a{
        color: $black-gold;
      }
    }
  }
}
//******* Header Styling

header{
  background: $black-gold;
  height: 100vh;
  
  .content{
    float: right;
    padding: 40px;
  }
  
  a{
    display: block;
    p{
      color: $gold;  
    }
    &:hover{
      text-decoration: none;
    }
  }
  
  .subscribe{
    margin-top: 100px;
    .service{
      img{
        width: 60px;
        padding: 10px;
      }
      .name{
        margin-top: 15px;
      }
    }
  }
  
  .hosts{
    margin-top: 100px;
    .host{
     margin-bottom: 20px; 
    }
    img{
      width: 130px;
      border-radius: 100%;
      padding: 10px;
    }
    
    .name{
      margin-top: 15px;
    }
    
    p{
      margin-bottom: 0;
    }

  }
  
  h1,p{
    color: white;
  }
  
  h1{
    font-size: 26px;
    padding-left: 0;
    margin-bottom: 20px;
  }
}
//******* End of Header Styling



//******* Mobile Styling

// Measurments pulled from foundation css file
// Mobile Styling
@media screen and (max-width: 40em) {

}

// Tablet Styling
@media screen and (max-width: 64em) {
  
}
//******* End of Mobile Styling