---
  # Front matter comment to ensure Jekyll properly reads file.
---

//******* Variables

// Numbers
$color-percentage: 5%;

// Colors
$black-gold: #231F20;
$gold: #F8EC23;
$gold-hover: darken(#F8EC23,20);
$pure-white: #FFFFFF;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
$lato: 'Lato', sans-serif;
$regular: 400;
$bold: 700;
$black: 900;
//******* End of Variables

body {
  font-family: $lato;
  color: $pure-white;
  font-weight: $bold;
  background: $black-gold;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: $lato;
}

h1{
  font-size: 2em;
  font-weight: $bold;
}

::selection {
  color: $black-gold;
  background: $gold;
}

/* Code for Firefox */
::-moz-selection {
  color: $black-gold;
  background: $gold;
}

a{
  img{
    &:hover{
      opacity: 0.7;
    }
  }
  p{
    color: $gold;
    &:hover{
      text-decoration: none;
      color: $gold-hover;
    }
  }
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

.content-container{
  margin-top: 4em;
  margin-bottom: 6em;
}

.intro{
  h2{
    font-size: 2em;
    line-height: 1.2em;
  }
}

.listen{
  margin-top: 6em;
  text-align: center;
  h1{
    margin-bottom: 1em;
  }
  .service{
    img{
      width: 6em;
    }
    .name{
      margin-top: 1em;
    }
  }
}

.hosts{
  margin-top: 6em;
  text-align: center;
  h1{
    margin-bottom: 1em;
  }
  img{
    width: 10em;
    border-radius: 100%;
  }

  .name{
    font-size: 1.4em;
    margin-top: 0.5em;
  }

  p{
    margin-bottom: 0;
  }
}


//******* Episode Styling

.episodes{
  margin-top: 6em;
  h1{
    margin-bottom: 1em;
  }

  .episode-card{
    display: block;
    text-decoration: none;
    color: $pure-white;
    padding: 1.5em 0;
    border-bottom: 1px solid rgba($pure-white, 0.1);

    &:first-of-type{
      border-top: 1px solid rgba($pure-white, 0.1);
    }

    &:hover{
      text-decoration: none;
      .episode-title{
        color: $gold;
      }
    }
  }

  .episode-card-inner{
    align-items: flex-start;
  }

  .episode-artwork{
    margin-right: 1.5em;
    img{
      width: 5em;
      height: 5em;
      border-radius: 0.5em;
      object-fit: cover;
    }
  }

  .episode-meta{
    font-size: 0.85em;
    font-weight: $regular;
    color: rgba($pure-white, 0.6);
    margin-bottom: 0.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .episode-title{
    font-size: 1.3em;
    font-weight: $bold;
    color: $pure-white;
    margin-bottom: 0.3em;
    line-height: 1.3;
    transition: color 0.2s ease;
  }

  .episode-description{
    font-size: 0.95em;
    font-weight: $regular;
    color: rgba($pure-white, 0.7);
    line-height: 1.5;
    margin-bottom: 0;
  }
}

//******* End of Episode Styling


//******* Error Styling
.error-page{
  h1{
    font-size: 3em;
  }
}

//******* End of Error Styling



//******* Header Styling

header{
  padding: 2.5em;
  padding-top: 5em;
  text-align: center;
  img{
    width: 16em;
  }
}
//******* End of Header Styling



//******* Mobile Styling

// Measurments pulled from foundation css file
// Mobile Styling
@media screen and (max-width: 40em) {
  .intro{
    h2{
      font-size: 1.4em;
      line-height: 1em;
    }
  }
  .error-page{
    h1{
      font-size: 2.5em;
    }
    h2{
      font-size: 1.8em;
    }
  }
  .episodes{
    .episode-artwork{
      margin-right: 1em;
      img{
        width: 3.5em;
        height: 3.5em;
      }
    }
    .episode-title{
      font-size: 1.1em;
    }
    .episode-description{
      font-size: 0.85em;
    }
  }
}

// Tablet Styling
@media screen and (max-width: 64em) {

}
//******* End of Mobile Styling
