---
layout: default
---

<section class="intro cell">
  <p>{{site.description}}<span class="gold-brick">.</span></p>
</section>

<section class="hosted-by cell">
  <p>Hosted by <a href="{{ site.rehan-url }}" target="_blank"><img src="img/rehan.jpg" alt="Rehan Butt" class="host-photo"> Rehan Butt</a> &amp; <a href="{{ site.lily-url }}" target="_blank"><img src="img/rehan.jpg" alt="Lily Samuels" class="host-photo"> Lily Samuels</a></p>
</section>

<section class="listen-on cell">
  <p>Listen on
    <a href="https://podcasts.apple.com/gb/podcast/design-gold/id1460573900" target="_blank"><img src="img/applepodcast.svg" alt="Apple Podcasts" class="listen-icon"> Apple Podcasts</a>,
    <a href="https://open.spotify.com/show/4ehtIPWPm1RcRdKKZrfjaJ" target="_blank"><img src="img/spotify.svg" alt="Spotify" class="listen-icon"> Spotify</a>,
    <a href="https://www.youtube.com/@designgold" target="_blank"><img src="img/youtube.svg" alt="YouTube" class="listen-icon"> YouTube</a>,
    <a href="https://pca.st/podcast/design-gold" target="_blank"><img src="img/pocketcasts.svg" alt="Pocket Casts" class="listen-icon"> Pocket Casts</a>,
    <a href="{{ site.baseurl }}/feed.xml">RSS</a>
  </p>
</section>

<section class="episodes cell">
  <!-- Podcast Trailer -->
  <a href="#" class="episode-card trailer-card">
    <div class="episode-card-inner">
      <div class="episode-artwork">
        <img src="https://d3t3ozftmdmh3i.cloudfront.net/staging/podcast_uploaded_nologo/397463/397463-1687754165827-e95e9099613fe.jpg" alt="Podcast Trailer artwork" loading="lazy">
      </div>
      <div class="episode-info">
        <h2 class="episode-title">Podcast Trailer <span class="arrow-animation"><span class="first">{% include arrow-right.svg %}</span><span class="second">{% include angle-right.svg %}</span></span></h2>
        <p class="episode-description">At the end of the movie all of us have this shared redemption. You want to be in a movie where your part works. That's the main thing. No matter how.</p>
      </div>
    </div>
  </a>

  <!-- New Episodes (Season 3+) -->
  {% for episode in site.data.episodes %}
    {% if episode.season >= 3 %}
    <a href="{{ episode.link }}" target="_blank" class="episode-card">
      <div class="episode-card-inner">
        <div class="episode-artwork">
          <img src="{{ episode.image }}" alt="{{ episode.title }} artwork" loading="lazy">
        </div>
        <div class="episode-info">
          <p class="episode-meta">{{ episode.pubDate }} &middot; {{ episode.duration }}</p>
          <h2 class="episode-title">{{ episode.title }} <span class="arrow-animation"><span class="first">{% include arrow-right.svg %}</span><span class="second">{% include angle-right.svg %}</span></span></h2>
          <p class="episode-description">{{ episode.description }}</p>
        </div>
      </div>
    </a>
    {% endif %}
  {% endfor %}

  <!-- The Early Days Section -->
  <h2 class="early-days-header">The early days of Design Gold</h2>

  {% for episode in site.data.episodes %}
    {% if episode.season < 3 %}
    <a href="{{ episode.link }}" target="_blank" class="episode-card">
      <div class="episode-card-inner">
        <div class="episode-artwork">
          <img src="img/logo-v1.png" alt="{{ episode.title }} artwork" loading="lazy">
        </div>
        <div class="episode-info">
          <p class="episode-meta">{{ episode.pubDate }} &middot; {{ episode.duration }}</p>
          <h2 class="episode-title">{{ episode.title }} <span class="arrow-animation"><span class="first">{% include arrow-right.svg %}</span><span class="second">{% include angle-right.svg %}</span></span></h2>
          <p class="episode-description">{{ episode.description }}</p>
        </div>
      </div>
    </a>
    {% endif %}
  {% endfor %}
</section>
