<header class="grid-x">
  <div class="cell medium-12">
    <div class="content">
      <a class="logo" href="{{ site.baseurl }}/"><img src="img/logo.svg" alt="Design Gold Logo"></a>
      
      <div class="subscribe">
        <h1>Subscribe In</h1>
      </div>
      
      <div class="hosts">
        <h1>Hosted By</h1>
        <div class="host grid-x">
          <div class="cell medium-4">
            <img src="img/rehan.png">
          </div>
          <div class="cell medium-8">
            <p class="name">Rehan</p>
            <a href="https://twitter.com/naher94/"><p>Follow @naher94</p></a>
          </div>
        </div>
        
        <div class=" host grid-x">
          <div class="cell medium-4">
            <img src="img/jonathan.png">
          </div>
          <div class="cell medium-8">
            <p class="name">Jonathan</p>
            <a href="https://twitter.com/JonnyCalz/"><p>Follow @JonnyCalz</p></a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</header>
