<header class="grid-x">
  <div class="cell medium-12">
    <div class="content">
      <a class="logo" href="{{ site.baseurl }}/"><img src="img/logo.svg" alt="Design Gold Logo"></a>
      
      <div class="subscribe">
        <h1>Subscribe at</h1>
        
        <a href="#">
          <div class="service grid-x">
            <div class="icon-container medium-3">
              <img src="img/applepodcast.svg">
            </div>
            <div class="name medium-9">
              <p>Apple Podcast</p>
            </div>
          </div>
        </a>
        
<!--        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">-->
          <a href="https://anchor.fm/s/2f7117c/podcast/rss">
          <div class="service grid-x">
            <div class="icon-container medium-3">
              <img src="img/rss.svg">
            </div>
            <div class="name medium-9">
              <p>RSS Feed</p>
            </div>
          </div>
        </a>
        
      </div>
      
      <div class="hosts">
        <h1>Hosted by</h1>
        <div class="host grid-x">
          <div class="cell medium-4">
            <img src="img/rehan.png">
          </div>
          <div class="cell medium-8">
            <p class="name">Rehan</p>
            <a href="https://twitter.com/naher94/" target="_blank"><p>Follow @naher94</p></a>
          </div>
        </div>
        
        <div class=" host grid-x">
          <div class="cell medium-4">
            <img src="img/jonathan.png">
          </div>
          <div class="cell medium-8">
            <p class="name">Jonathan</p>
            <a href="https://twitter.com/JonnyCalz/" target="_blank"><p>Follow @JonnyCalz</p></a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</header>
