@charset 'utf-8';

@import 'settings';
@import 'foundation';

// Global styles
@include foundation-global-styles;
@include foundation-typography;

// Grid
@include foundation-xy-grid-classes;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
