//Numbers


// Colors
$pure-white: #FFFFFF;
$pure-black: #000000;

$black-gold: #231F20;
$gold: #F5D45A;
$dark-gold: #EEC21F;

$text-muted: rgba($pure-black, 0.5);
$hover-bg: #f4f4f4;
$trailer-gold: #f2d048;
$trailer-bg: rgba($trailer-gold, 0.2);

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');
$lato: 'Lato', sans-serif;
$lato-regular: 400;
$lato-bold: 700;
$lato-black: 900;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
$space-grotesk: "Space Grotesk", sans-serif;
$space-grotesk-light: 300;
$space-grotesk-regular: 400;
$space-grotesk-medium: 500;
$space-grotesk-semibold: 600;
$space-grotesk-bold: 700;


$tight-spring-curve: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$tight-spring: all 0.3s $tight-spring-curve;