header{
  padding-top: 3em;
  --cover-radius: 20px;
  .logo{
    display: inline-block;
    position: relative;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.1);
    // box-shadow: 0px 0px 10px 1px rgba(0,0,0,.1), inset 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
    // box-shadow: inset 0px 0px 0px 2px rgba(red, 0.5);
    border-radius: var(--cover-radius);
    overflow: hidden;
    &::after {
      content: "";
      position: absolute; /* Positions the pseudo-element over the image */
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: var(--cover-radius);
      /* Apply the inset box-shadow */
      box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.1); /* Adjust values and color as needed */
      pointer-events: none; /* Allows clicks to pass through the overlay to the image if it's a link */
    }
    img{
      width: 150px;
    }
  }
}
