name: Flat Data - Fetch Podcast Episodes

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: {}

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v1.x
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Fetch RSS feed
        uses: githubocto/flat@v3
        with:
          http_url: 'https://anchor.fm/s/2f7117c/podcast/rss'
          downloaded_filename: _data/podcast-rss.xml
          postprocess: postprocess/parse-rss.ts
